@import "tailwindcss";

:root {
  --background: #f0f9ff;
  --foreground: #0c4a6e;
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}
